.crystals{
    display: flex;
    justify-content: space-around;
    border:1px solid gray;
    align-items: center;

}

.crystal{
    border:1px solid blue;
    height:200px;
    width: 200px;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s, transform 2s;
    
    
}

.crystal:hover{
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    transform: translate(5px,81px);
    cursor: pointer;
    transition: box-shadow 1s, transform 2s;


}

img{
    width:50px;

}
